<svg width="110px" height="28px" viewBox="0 0 94 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Cyborg Text Logo</title>
    <desc>Official text logo of Cyborg Corp</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="cyborg-text-logo-copy-4" fill="#ffffff">
            <rect id="Rectangle-path" x="10" y="5" width="4" height="4"></rect>
            <rect id="Rectangle-path" x="32" y="5" width="4" height="4"></rect>
            <rect id="Rectangle-path" x="32" y="0" width="4" height="4"></rect>
            <rect id="Rectangle-path" x="53" y="5" width="4" height="4"></rect>
            <rect id="Rectangle-path" x="48" y="10" width="4" height="4"></rect>
            <rect id="Rectangle-path" x="53" y="15" width="4" height="4"></rect>
            <rect id="Rectangle-path" x="58" y="10" width="4" height="4"></rect>
            <rect id="Rectangle-path" x="64" y="15" width="4" height="4"></rect>
            <rect id="Rectangle-path" x="64" y="10" width="4" height="4"></rect>
            <rect id="Rectangle-path" x="69" y="5" width="4" height="4"></rect>
            <rect id="Rectangle-path" x="74" y="5" width="4" height="4"></rect>
            <rect id="Rectangle-path" x="37" y="15" width="4" height="4"></rect>
            <rect id="Rectangle-path" x="42" y="10" width="4" height="4"></rect>
            <rect id="Rectangle-path" x="37" y="5" width="4" height="4"></rect>
            <rect id="Rectangle-path" x="32" y="10" width="4" height="4"></rect>
            <rect id="Rectangle-path" x="21" y="20" width="4" height="4"></rect>
            <rect id="Rectangle-path" x="26" y="15" width="4" height="4"></rect>
            <rect id="Rectangle-path" x="16" y="5" width="4" height="4"></rect>
            <rect id="Rectangle-path" x="16" y="10" width="4" height="4"></rect>
            <rect id="Rectangle-path" x="26" y="10" width="4" height="4"></rect>
            <rect id="Rectangle-path" x="21" y="15" width="4" height="4"></rect>
            <rect id="Rectangle-path" x="26" y="5" width="4" height="4"></rect>
            <rect id="Rectangle-path" x="5" y="15" width="4" height="4"></rect>
            <rect id="Rectangle-path" x="0" y="10" width="4" height="4"></rect>
            <rect id="Rectangle-path" x="85" y="20" width="4" height="4"></rect>
            <rect id="Rectangle-path" x="85" y="10" width="4" height="4"></rect>
            <rect id="Rectangle-path" x="85" y="5" width="4" height="4"></rect>
            <rect id="Rectangle-path" x="5" y="5" width="4" height="4"></rect>
            <path d="M32,15 C32,15 32,19 36,19 L36,15" id="Shape"></path>
            <path d="M16,15 C16,15 16,19 20,19 L20,15" id="Shape"></path>
            <path d="M0,15 C0,15 0,19 4,19 L4,15" id="Shape"></path>
            <path d="M80,10 C80,10 80,14 84,14 L84,10" id="Shape"></path>
            <path d="M80,20 C80,20 80,24 84,24 L84,20" id="Shape"></path>
            <path d="M48,15 C48,15 48,19 52,19 L52,15" id="Shape"></path>
            <path d="M94,10 C94,10 94,14 90,14 L90,10" id="Shape"></path>
            <path d="M62,15 C62,15 62,19 58,19 L58,15" id="Shape"></path>
            <path d="M46,15 C46,15 46,19 42,19 L42,15" id="Shape"></path>
            <path d="M14,15 C14,15 14,19 10,19 L10,15" id="Shape"></path>
            <path d="M30,20 C30,20 30,24 26,24 L26,20" id="Shape"></path>
            <path d="M94,9 C94,9 94,5 90,5 L90,9" id="Shape"></path>
            <path d="M94,24 C94,24 94,20 90,20 L90,24" id="Shape"></path>
            <path d="M62,9 C62,9 62,5 58,5 L58,9" id="Shape"></path>
            <path d="M46,9 C46,9 46,5 42,5 L42,9" id="Shape"></path>
            <path d="M80,9 C80,9 80,5 84,5 L84,9" id="Shape"></path>
            <path d="M80,19 C80,19 80,15 84,15 L84,19" id="Shape"></path>
            <path d="M64,9 C64,9 64,5 68,5 L68,9" id="Shape"></path>
            <path d="M16,24 C16,24 16,20 20,20 L20,24" id="Shape"></path>
            <path d="M0,9 C0,9 0,5 4,5 L4,9" id="Shape"></path>
            <path d="M48,9 C48,9 48,5 52,5 L52,9" id="Shape"></path>
        </g>
    </g>
</svg>
