<hr class="hr-dark no-margin">
<footer class="dark">
  <div class="container-fluid">
    <div class="row pb-6">
      <div class="col">
        {%- include cyborg-text-logo-white.html -%}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <address class="">
          <div class="address_name normal mb-1">
            Contact Us
          </div>
          <div class="normal muted">
            hello@cyborg.ai
          </div>
          <div class="normal muted">
            310-795-2623
          </div>
        </address>
      </div>
      <div class="col-sm-2">
        <address class="">
          <div class="address_name normal mb-1">
            Los Angeles, CA
          </div>
          <div class="normal muted">
            United States
          </div>
        </address>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-2">
        <address class="">
          <div class="address_name normal mb-1">
            Austin, TX
          </div>
          <div class="normal muted">
            United States
          </div>
        </address>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-2">
        <address class="">
          <div class="address_name normal mb-1">
            Toronto, ON
          </div>
          <div class="normal muted">
            Canada
          </div>
        </address>
      </div>
    </div>
    <div class="row mt-6">
      <div class="col-sm-4">
        <small class="copyright-text">© Cyborg Corp</small>
      </div>
      <div class="col">
        <a class="footer-link mr-4" href="https://twitter.com/cyborg" target="_blank">Twitter</a>
        <a class="footer-link" href="https://instagram.com/cyborg.ai" target="_blank">Instagram</a>
      </div>
    </div>
  </div>
</footer>
