<footer class="dark">
  <hr>
  <div class="container-fluid">
    <div class="row pb-7">
      <div class="col">
        <img src="{{ "assets/img/cyborg-logo-nav-light.png" | relative_url }}" width="94px" height="24px">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        Contact Us
      </div>
      <div class="col-sm-2">
        Location 1
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-2">
        Location 2
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-2">
        Location 3
      </div>
    </div>
  </div>
</footer>
