// RESPONSIVE CSS

// DESKTOP
@media screen and (min-width: 768px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  .nav-item.active a {
    background: transparent -webkit-linear-gradient(left, #fff 50%, rgba(156, 158, 165, 0.6) 0%) no-repeat;
    background: transparent -o-linear-gradient(left, #fff 50%, rgba(156, 158, 165, 0.6) 0%) no-repeat;
    background: transparent linear-gradient(to right, #fff 50%, rgba(156, 158, 165, 0.6) 0%) no-repeat;
    background-size: 202% 1px;
    background-position: 100% 100%;
  }
  .grid-container {
    .grid-row {
      margin-top: 10rem;
    }
    .grid-row:first-child {
      margin-top: 0;
    }
  }
  .offset-paragraph {
    padding-right: 10rem;
  }
  .visible-mobile {
    display: none;
    visibility: hidden;
  }
  .visible-desktop {
    display: block;
    visibility: visible;
  }
}


// MOBILE
@media screen and (max-width: 767px) {
  .navbar {
    padding: 2.5rem 2rem;
  }
  .navbar-light .navbar-toggler {
    color: $white;
    font-weight: 200;
    font-size: 1.25rem;
    letter-spacing: .1rem;
    transition: .25s;
  }
  .navbar-collapse.collapse.show {
    background: $dark;
    color: #fff;
  }
  .nav-item:first-child {
    margin-top: 2rem;
  }
  .nav-item:last-child {
    padding-bottom: 20rem;
  }
  .nav-link {
    padding: 2rem 1rem;
    float: right;
  }
  .container-fluid {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .sub-content {
    section:first-child {
      padding-top: 8rem;
    }
    section:last-child {
      padding-bottom: 8rem;
    }
    section {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }
  .arrow-down.arrow-down-bottom-left {
    position: absolute;
    bottom: 3rem;
    left: 2rem;
  }
  footer {
    padding-top: 6rem;
    padding-bottom: 3rem;

    .copyright-text {
      margin-bottom: 2.5rem;
      display: block;
    }
  }
  .row.v-margin-col-fix {
    .col-sm-4,
    .col-md-4 {
      margin-top: 5rem;

      &:first-child {
        margin-top: 0;
      }
    }
  }
  .visible-mobile {
    display: block;
    visibility: visible;
  }
  .visible-desktop {
    display: none;
    visibility: hidden;
  }
}
